/* * {
    border: solid red 1px;
} */

html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#mainContainer {
    display: flex;
    background-color: white;
    height: 75%;
    width: 75%;
    border: solid black 1px;
}

div {
    background-color: white;
}

.dark {
    background-color: black;
}